* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(0, 0, 0, 0.39);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-height: 100vh;
}

header {
  font-size: 1.2rem;
  margin-bottom: -3rem;
}

header,
form {
  /* min-height: 20vh; */
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  margin: 10px;
}
.input-box {
  width: 60%;
  background-color: white;
  /* padding: 15px; */
  border-radius: 10px;
  margin-top: 10px;
}
.form-input-text {
  width: 53%;
  margin-right: 20px;
}
.form-input-date {
  width: 25%;
  margin-right: 10px;
}
form input,
form button {
  padding: 0.5rem;
  font-size: 1.2rem;
  border: none;
  background: whitesmoke;
  border-radius: 0.4rem;
}

form button {
  color: white;
  background: #dc3246;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 0.4rem;
  margin-left: 0.4rem;
}

button:focus {
  border: none;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
}
.todo-container img {
  width: 100%;
  margin-left: 20px;
  margin-bottom: -130px;
  margin-top: -100px;
}

.todo-box {
  width: 60%;
  background-color: rgb(51, 51, 51);
  /* margin-top: 20px; */
  padding: 15px;
  border-radius: 10px;
  margin: auto;
}

.todo-list {
  min-width: 40%;
  list-style-type: decimal-leading-zero;
  padding-bottom: 2rem;
  padding-left: 2rem;
  transition: all 0.5s ease;
}

.todo {
  margin: 0.5rem;
  background: rgb(51, 51, 51);
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem;
  border-radius: 0.4rem;
  transition: all 0.5s ease;
}
.todo-item {
  /* margin-right: 0.4rem; */
  padding: 0rem 0.5rem;
}
.todo li {
  flex: 1;
}
.done-todo {
  background: #49cf7a;
  color: white;
}

.statistic {
  margin-top: 1.4rem;
  line-height: 2rem;
  width: 60%;
}

.statistic h2 {
  color: rgb(107, 114, 128);
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.5rem;
  text-align: left;
}

.statistic-container {
  margin-top: 1.25rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1.25rem;
  width: 100%;
}

.statistic-box {
  background-color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.statistic-box p {
  color: rgb(107, 114, 128);
  font-size: 0.75rem;
  line-height: 2.25rem;
  font-weight: 500;
}

.statistic-box .number {
  color: rgb(17, 24, 39);
  font-size: 1.8rem;
  line-height: 2.25rem;
}
.notif {
  color: #f8a022;
  font-size: 1em;
  padding-left: 20vw;
}

h2 {
  color: rgb(0, 0, 0);
  line-height: 2.25rem;
  text-align: center;
  padding: 10px;
  font-weight: 500;
  font-size: 30px;
}

#tombol input[type="button"] {
  padding: 20px;
  border-radius: 50px;
  font-size: 20px;
  margin: auto;
  width: 300px;
  background-color: #f8a022;
  color: white;
  border: none;
  cursor: pointer;
}
#tombol input:hover {
  background-color: #e48704;
}

.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 1.5em;
  min-width: 400px;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  /* align-content: center; */
  margin-left: auto;
  margin-right: auto;
}

.content-table thead tr {
  background-color: #ff9900;
  color: black;
  text-align: left;
  font-weight: bold;
  text-align: center;
  border-bottom: 4px solid seashell;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  /* border-bottom: 1px solid #dddddd; */
  color: #ff9900;
  background-color: rgba(17, 15, 13, 1.55);
}

.content-table tbody tr:nth-of-type(even) {
  background-color: rgba(17, 15, 13, 0.85);
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
  background-color: rgba(17, 15, 13, 1.55);
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #ff9900;
}
