.header .title {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.header ul li {
  display: inline-block;
  margin-top: 20px;
  margin-right: 10px;
}

.header a {
  font-size: 20px;
  text-decoration: none;
  color: rgb(24, 29, 29);
  padding: 5px;
}

.header a:hover {
  background-color: rgb(34, 37, 37);
  color: rgb(85, 205, 235);
}

body {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* background-color: rgba(85, 78, 78, 0.548); */
  /* background: url(img/sudut.jpg); */
  font-weight: 300;
}

div {
  font-size: 20px;
}

h2 {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 50px;
}

/* write your code here */
.container {
  width: auto;
  margin: auto;
  background-color: rgb(117, 117, 117);
}
.header {
  padding: 5px;
}
.hero {
  height: 700px;
  border-top: 10px solid rgb(255, 255, 255);
  border-bottom: 10px solid lightseagreen;
  background-image: url(/img/logo.png);
  background-size: cover;
  background-position: 0 -60px;
}
.content {
  margin: auto;
  width: 85%;
  padding: 3rem 4rem;
  background-color: rgb(206, 206, 200);
}
.containerTable {
  width: auto;
}

th {
  padding-right: 20px;
  padding-left: 30px;
  text-align: left;
}

.btnStyle {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.circle {
  height: 50px;
  width: 50px;
  background-color: #555;
  border-radius: 50%;
}

.lname {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.footer {
  background-color: grey;
  height: 50px;
  text-align: center;
}
.footer .copy {
  color: #1e2749;
}

/*======================================
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(187, 239, 255);
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

header {
  font-size: 1.2rem;
  margin-bottom: -3rem;
}

header,
form {
  /* min-height: 20vh; */
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  margin: 10px;
}
.input-box {
  width: 60%;
  background-color: white;
  /* padding: 15px; */
  border-radius: 10px;
  margin-top: 10px;
}
.form-input-text {
  width: 53%;
  margin-right: 20px;
}
.form-input-date {
  width: 25%;
  margin-right: 10px;
}

form button {
  padding: 0.5rem;
  font-size: 1.2rem;
  border: none;
  background: whitesmoke;
  border-radius: 0.4rem;
}

form button {
  color: white;
  background: #dc3246;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 0.4rem;
  margin-left: 0.4rem;
}

button:focus {
  border: none;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
}

.penghutang-box {
  width: 60%;
  background-color: white;
  margin-top: 20px;
  /* padding: 15px; */
  border-radius: 10px;
}

.todo-list {
  min-width: 40%;
  list-style: none;
  /* padding-bottom: 2rem; */
  transition: all 0.5s ease;
}

.todo {
  margin: 0.5rem;
  background: white;
  color: black;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem;
  border-radius: 0.4rem;
  transition: all 0.5s ease;
}
.todo-item {
  /* margin-right: 0.4rem; */
  padding: 0rem 0.5rem;
}
.todo li {
  flex: 1;
}
.done-todo {
  background: #49cf7a;
  color: white;
}

#btnSubmit {
  background: #dc3246;
  color: white;
  border: none;
  padding: 0.8rem;
  cursor: pointer;
  border-radius: 0.4rem;
  margin-left: 0.4rem;
}

.remove {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

.todo-box h2 {
  color: rgb(107, 114, 128);
  line-height: 2.25rem;
  margin: 0.2rem 1rem;
  padding: 0rem 0.5rem;
  font-weight: 500;
  font-size: 1.125rem;
}
